h1 {
    color: #aaa;
}
.btn-square {
    width: 35px;
    height: 35px;
}
.btn-rectangle {
    width: 117px;
    height: 35px;
}
.btn {
    color: #aaa;
    border: 1px solid #78D6B8;
    border-radius: 2px;
    margin: 1px;
}
.btn:hover, .btn:focus, .btn:active {
    background-color: #E3FAD7;
    color: #aaa;
    border: 1px solid #ddd;
}
#screen {
    border: 1px solid #78D6B8;
    border-radius: 2px;
    width: 158px;
    height: 35px;
    text-align: right;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    color: #aaa;
}
.main {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
